.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(39, 109, 57);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;
}

.logo {
  height: 120px;
}


